.main__body {
  padding: 0;
  margin: 0;
  max-height: 100%;
  max-width: 90%;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 28px;
}

.header {
  width: 1920px;
  height: 64px;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;

}

.skinstric_header {
  padding: 16px;
}

.intro_header {
  padding: 16px;
} 

.skindev {
  width: 316px;
  height: 72px;
  top: 862px;
  left: 32px;
}

.entercode {
  width: 65%;
  padding-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.entercode__button {
  color: white;
  background-color: black;
  height: 30px;
}

.entercode__button:hover {
  cursor: pointer;
}

.takeTest {
  display: flex;
  justify-content: flex-end;

}

.button:hover {
  cursor: pointer;
}

.back {
  display: flex;
}

.discover__Ai {
  display: flex;
}